/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main li{
	display: inline;
	position: relative;
}
.submenu li{
	display: block;
	padding: 1em 0;
		background-color: #1D71C0;
		width: 100%;
}
.submenu{
	display: none;
	position: absolute;
  left: 0;
	width: auto;
	margin-top: 16px;
}

.main li:hover ul {
	display: block;
}

li{
	display: inline;
}


body {
  background-color: #BFBFBF;
  font-family: 'Asap', sans-serif;
}

header{
  position: relative;
	z-index: 3;
  top: 1em;
  background-color: #1D71C0;
  width: 100%;
  padding: 1em 0;
}

a{
  color: white;
  text-decoration: none;
  padding: 1em;
  font-weight: bold;
}

a:hover{
  color: green;
  background: lightblue;
	margin: 0;
	width: 100%;
}

img {
  width: 100%;
  display: block;
  margin: 0 auto;
	padding-bottom: 5px;
}


div{
  width: 90%;
  margin: 0 auto;
	margin-top: 1%;
	margin-right: 5%;

}

h1 {
  font-size: 2em;
  padding: 0.5em 0;
  color: #1D71C0;
}

h2{font-size: 1.3em;
  padding-bottom: 0.3em;
}

b{
  font-weight: bold;
}

h3{
  font-size: 0.8em;
  padding-bottom: 0.8em;
}

i{
  font-style: italic;
}

p{
  font-size: 0.9em;
  padding-bottom: 0.7em;
	max-width: 80%;
}
article{
	position: relative;
	top:0;
	left: 0;
}
section{
width: 50%;
position: absolute;
padding:5%;
box-sizing: border-box;
}
section.content{
	top:100%;
	left:0;
}
section.ads{
	top:100%;
	left: 50%;
	max-width: 40%;
}
